# Importing an Excel File into Polars

## Load the required libraries

In [1]:
# Load libraries
import polars as pl
import polars.selectors as cs
import sys 

print(f'My system version is {sys.version}; \npolars version is {pl.__version__}')

My system version is 3.12.4 (main, Jul  1 2024, 00:48:18) [Clang 15.0.0 (clang-1500.3.9.4)];
polars version is 1.6.0
My system version is 3.12.4 (main, Jul  1 2024, 00:48:18) [Clang 15.0.0 (clang-1500.3.9.4)];
polars version is 1.6.0

## Import the data

In [2]:
# Import data
url = '../00-data/banklist.xlsx'

failed_banks = (
    pl.read_excel(
        url,
        engine='calamine',
        read_options={'header_row': 4},
    )
)

# Inspect output
print(failed_banks.head())

shape: (5, 7)
┌─────────────┬─────────────┬────────┬───────┬────────────┬────────────┬───────┐
│ Bank Name   ┆ City        ┆ State  ┆ Cert  ┆ Acquiring  ┆ Closing    ┆ Fund  │
│ ---         ┆ ---         ┆ ---    ┆ ---   ┆ Institutio ┆ Date       ┆ ---   │
│ str         ┆ str         ┆ str    ┆ i64   ┆ n          ┆ ---        ┆ i64   │
│             ┆             ┆        ┆       ┆ ---        ┆ str        ┆       │
│             ┆             ┆        ┆       ┆ str        ┆            ┆       │
╞═════════════╪═════════════╪════════╪═══════╪════════════╪════════════╪═══════╡
│ Republic    ┆ Philadelphi ┆ PA     ┆ 27332 ┆ Fulton     ┆ 26-Apr-24  ┆ 10546 │
│ First Bank  ┆ a           ┆        ┆       ┆ Bank,      ┆            ┆       │
│ dba Republ… ┆             ┆        ┆       ┆ National   ┆            ┆       │
│             ┆             ┆        ┆       ┆ Associat…  ┆            ┆       │
│ Citizens    ┆ Sac City    ┆ IA     ┆ 8758  ┆ Iowa Trust ┆ 3-Nov-23   ┆ 10545 │
│ Bank        ┆             ┆        ┆       ┆ & Savings  ┆            ┆       │
│             ┆             ┆        ┆       ┆ Bank       ┆            ┆       │
│ Heartland   ┆ Elkhart     ┆ KS     ┆ 25851 ┆ Dream      ┆ 28-Jul-23  ┆ 10544 │
│ Tri-State   ┆             ┆        ┆       ┆ First      ┆            ┆       │
│ Bank        ┆             ┆        ┆       ┆ Bank, N.A. ┆            ┆       │
│ First       ┆ San         ┆ CA     ┆ 59017 ┆ JPMorgan   ┆ 1-May-23   ┆ 10543 │
│ Republic    ┆ Francisco   ┆        ┆       ┆ Chase      ┆            ┆       │
│ Bank        ┆             ┆        ┆       ┆ Bank, N.A. ┆            ┆       │
│ Signature   ┆ New York    ┆ NY     ┆ 57053 ┆ Flagstar   ┆ 12-Mar-23  ┆ 10540 │
│ Bank        ┆             ┆        ┆       ┆ Bank, N.A. ┆            ┆       │
└─────────────┴─────────────┴────────┴───────┴────────────┴────────────┴───────┘
shape: (5, 7)
┌─────────────┬─────────────┬────────┬───────┬────────────┬────────────┬───────┐
│ Bank Name   ┆ City        ┆ State  ┆ Cert  ┆ Acquiring  ┆ Closing    ┆ Fund  │
│ ---         ┆ ---         ┆ ---    ┆ ---   ┆ Institutio ┆ Date       ┆ ---   │
│ str         ┆ str         ┆ str    ┆ i64   ┆ n          ┆ ---        ┆ i64   │
│             ┆             ┆        ┆       ┆ ---        ┆ str        ┆       │
│             ┆             ┆        ┆       ┆ str        ┆            ┆       │
╞═════════════╪═════════════╪════════╪═══════╪════════════╪════════════╪═══════╡
│ Republic    ┆ Philadelphi ┆ PA     ┆ 27332 ┆ Fulton     ┆ 26-Apr-24  ┆ 10546 │
│ First Bank  ┆ a           ┆        ┆       ┆ Bank,      ┆            ┆       │
│ dba Republ… ┆             ┆        ┆       ┆ National   ┆            ┆       │
│             ┆             ┆        ┆       ┆ Associat…  ┆            ┆       │
│ Citizens    ┆ Sac City    ┆ IA     ┆ 8758  ┆ Iowa Trust ┆ 3-Nov-23   ┆ 10545 │
│ Bank        ┆             ┆        ┆       ┆ & Savings  ┆            ┆       │
│             ┆             ┆        ┆       ┆ Bank       ┆            ┆       │
│ Heartland   ┆ Elkhart     ┆ KS     ┆ 25851 ┆ Dream      ┆ 28-Jul-23  ┆ 10544 │
│ Tri-State   ┆             ┆        ┆       ┆ First      ┆            ┆       │
│ Bank        ┆             ┆        ┆       ┆ Bank, N.A. ┆            ┆       │
│ First       ┆ San         ┆ CA     ┆ 59017 ┆ JPMorgan   ┆ 1-May-23   ┆ 10543 │
│ Republic    ┆ Francisco   ┆        ┆       ┆ Chase      ┆            ┆       │
│ Bank        ┆             ┆        ┆       ┆ Bank, N.A. ┆            ┆       │
│ Signature   ┆ New York    ┆ NY     ┆ 57053 ┆ Flagstar   ┆ 12-Mar-23  ┆ 10540 │
│ Bank        ┆             ┆        ┆       ┆ Bank, N.A. ┆            ┆       │
└─────────────┴─────────────┴────────┴───────┴────────────┴────────────┴───────┘

In [3]:
banks = (
    failed_banks
    .rename(lambda col: col.lower().replace(' ', '_').replace('\xa0', ''))
    # .columns 
    .with_columns(
        closing_date=pl.col('closing_date').str.to_date('%d-%B-%y')
    )
    # .glimpse()
)

# inspect output
print(banks.head())

shape: (5, 7)
┌─────────────┬─────────────┬───────┬───────┬─────────────┬────────────┬───────┐
│ bank_name   ┆ city        ┆ state ┆ cert  ┆ acquiring_i ┆ closing_da ┆ fund  │
│ ---         ┆ ---         ┆ ---   ┆ ---   ┆ nstitution  ┆ te         ┆ ---   │
│ str         ┆ str         ┆ str   ┆ i64   ┆ ---         ┆ ---        ┆ i64   │
│             ┆             ┆       ┆       ┆ str         ┆ date       ┆       │
╞═════════════╪═════════════╪═══════╪═══════╪═════════════╪════════════╪═══════╡
│ Republic    ┆ Philadelphi ┆ PA    ┆ 27332 ┆ Fulton      ┆ 2024-04-26 ┆ 10546 │
│ First Bank  ┆ a           ┆       ┆       ┆ Bank,       ┆            ┆       │
│ dba Republ… ┆             ┆       ┆       ┆ National    ┆            ┆       │
│             ┆             ┆       ┆       ┆ Associat…   ┆            ┆       │
│ Citizens    ┆ Sac City    ┆ IA    ┆ 8758  ┆ Iowa Trust  ┆ 2023-11-03 ┆ 10545 │
│ Bank        ┆             ┆       ┆       ┆ & Savings   ┆            ┆       │
│             ┆             ┆       ┆       ┆ Bank        ┆            ┆       │
│ Heartland   ┆ Elkhart     ┆ KS    ┆ 25851 ┆ Dream First ┆ 2023-07-28 ┆ 10544 │
│ Tri-State   ┆             ┆       ┆       ┆ Bank, N.A.  ┆            ┆       │
│ Bank        ┆             ┆       ┆       ┆             ┆            ┆       │
│ First       ┆ San         ┆ CA    ┆ 59017 ┆ JPMorgan    ┆ 2023-05-01 ┆ 10543 │
│ Republic    ┆ Francisco   ┆       ┆       ┆ Chase Bank, ┆            ┆       │
│ Bank        ┆             ┆       ┆       ┆ N.A.        ┆            ┆       │
│ Signature   ┆ New York    ┆ NY    ┆ 57053 ┆ Flagstar    ┆ 2023-03-12 ┆ 10540 │
│ Bank        ┆             ┆       ┆       ┆ Bank, N.A.  ┆            ┆       │
└─────────────┴─────────────┴───────┴───────┴─────────────┴────────────┴───────┘
shape: (5, 7)
┌─────────────┬─────────────┬───────┬───────┬─────────────┬────────────┬───────┐
│ bank_name   ┆ city        ┆ state ┆ cert  ┆ acquiring_i ┆ closing_da ┆ fund  │
│ ---         ┆ ---         ┆ ---   ┆ ---   ┆ nstitution  ┆ te         ┆ ---   │
│ str         ┆ str         ┆ str   ┆ i64   ┆ ---         ┆ ---        ┆ i64   │
│             ┆             ┆       ┆       ┆ str         ┆ date       ┆       │
╞═════════════╪═════════════╪═══════╪═══════╪═════════════╪════════════╪═══════╡
│ Republic    ┆ Philadelphi ┆ PA    ┆ 27332 ┆ Fulton      ┆ 2024-04-26 ┆ 10546 │
│ First Bank  ┆ a           ┆       ┆       ┆ Bank,       ┆            ┆       │
│ dba Republ… ┆             ┆       ┆       ┆ National    ┆            ┆       │
│             ┆             ┆       ┆       ┆ Associat…   ┆            ┆       │
│ Citizens    ┆ Sac City    ┆ IA    ┆ 8758  ┆ Iowa Trust  ┆ 2023-11-03 ┆ 10545 │
│ Bank        ┆             ┆       ┆       ┆ & Savings   ┆            ┆       │
│             ┆             ┆       ┆       ┆ Bank        ┆            ┆       │
│ Heartland   ┆ Elkhart     ┆ KS    ┆ 25851 ┆ Dream First ┆ 2023-07-28 ┆ 10544 │
│ Tri-State   ┆             ┆       ┆       ┆ Bank, N.A.  ┆            ┆       │
│ Bank        ┆             ┆       ┆       ┆             ┆            ┆       │
│ First       ┆ San         ┆ CA    ┆ 59017 ┆ JPMorgan    ┆ 2023-05-01 ┆ 10543 │
│ Republic    ┆ Francisco   ┆       ┆       ┆ Chase Bank, ┆            ┆       │
│ Bank        ┆             ┆       ┆       ┆ N.A.        ┆            ┆       │
│ Signature   ┆ New York    ┆ NY    ┆ 57053 ┆ Flagstar    ┆ 2023-03-12 ┆ 10540 │
│ Bank        ┆             ┆       ┆       ┆ Bank, N.A.  ┆            ┆       │
└─────────────┴─────────────┴───────┴───────┴─────────────┴────────────┴───────┘

In [4]:
# Using the glimpse method
(
    failed_banks
    .glimpse()
)

Rows: 569
Columns: 7
$ Bank Name              <str> 'Republic First Bank dba Republic Bank', 'Citizens Bank', 'Heartland Tri-State Bank', 'First Republic Bank', 'Signature Bank', 'Silicon Valley Bank', 'Almena State Bank', 'First City Bank of Florida', 'The First State Bank', 'Ericson State Bank'
$ City                   <str> 'Philadelphia', 'Sac City', 'Elkhart', 'San Francisco', 'New York', 'Santa Clara', 'Almena', 'Fort Walton Beach', 'Barboursville', 'Ericson'
$ State                  <str> 'PA', 'IA', 'KS', 'CA', 'NY', 'CA', 'KS', 'FL', 'WV', 'NE'
$ Cert                   <i64> 27332, 8758, 25851, 59017, 57053, 24735, 15426, 16748, 14361, 18265
$ Acquiring Institution  <str> 'Fulton Bank, National Association', 'Iowa Trust & Savings Bank', 'Dream First Bank, N.A.', 'JPMorgan Chase Bank, N.A.', 'Flagstar Bank, N.A.', 'First–Citizens Bank & Trust Company', 'Equity Bank', 'United Fidelity Bank, fsb', 'MVB Bank, Inc.', 'Farmers and Merchants Bank'
$ Closing Date           <str> '26-Apr-24', '3-Nov-23', '28-Jul-23', '1-May-23', '12-Mar-23', '10-Mar-23', '23-Oct-20', '16-Oct-20', '3-Apr-20', '14-Feb-20'
$ Fund                   <i64> 10546, 10545, 10544, 10543, 10540, 10539, 10538, 10537, 10536, 10535

Rows: 569
Columns: 7
$ Bank Name              <str> 'Republic First Bank dba Republic Bank', 'Citizens Bank', 'Heartland Tri-State Bank', 'First Republic Bank', 'Signature Bank', 'Silicon Valley Bank', 'Almena State Bank', 'First City Bank of Florida', 'The First State Bank', 'Ericson State Bank'
$ City                   <str> 'Philadelphia', 'Sac City', 'Elkhart', 'San Francisco', 'New York', 'Santa Clara', 'Almena', 'Fort Walton Beach', 'Barboursville', 'Ericson'
$ State                  <str> 'PA', 'IA', 'KS', 'CA', 'NY', 'CA', 'KS', 'FL', 'WV', 'NE'
$ Cert                   <i64> 27332, 8758, 25851, 59017, 57053, 24735, 15426, 16748, 14361, 18265
$ Acquiring Institution  <str> 'Fulton Bank, National Association', 'Iowa Trust & Savings Bank', 'Dream First Bank, N.A.', 'JPMorgan Chase Bank, N.A.', 'Flagstar Bank, N.A.', 'First–Citizens Bank & Trust Company', 'Equity Bank', 'United Fidelity Bank, fsb', 'MVB Bank, Inc.', 'Farmers and Merchants Bank'
$ Closing Date           <str> '26-Apr-24', '3-Nov-23', '28-Jul-23', '1-May-23', '12-Mar-23', '10-Mar-23', '23-Oct-20', '16-Oct-20', '3-Apr-20', '14-Feb-20'
$ Fund                   <i64> 10546, 10545, 10544, 10543, 10540, 10539, 10538, 10537, 10536, 10535

In [5]:
# inspect the last 5 rows
print(banks.tail())

shape: (5, 7)
┌──────────────┬────────────┬───────┬───────┬─────────────┬─────────────┬──────┐
│ bank_name    ┆ city       ┆ state ┆ cert  ┆ acquiring_i ┆ closing_dat ┆ fund │
│ ---          ┆ ---        ┆ ---   ┆ ---   ┆ nstitution  ┆ e           ┆ ---  │
│ str          ┆ str        ┆ str   ┆ i64   ┆ ---         ┆ ---         ┆ i64  │
│              ┆            ┆       ┆       ┆ str         ┆ date        ┆      │
╞══════════════╪════════════╪═══════╪═══════╪═════════════╪═════════════╪══════╡
│ Superior     ┆ Hinsdale   ┆ IL    ┆ 32646 ┆ Superior    ┆ 2001-07-27  ┆ 6004 │
│ Bank, FSB    ┆            ┆       ┆       ┆ Federal,    ┆             ┆      │
│              ┆            ┆       ┆       ┆ FSB         ┆             ┆      │
│ Malta        ┆ Malta      ┆ OH    ┆ 6629  ┆ North       ┆ 2001-05-03  ┆ 4648 │
│ National     ┆            ┆       ┆       ┆ Valley Bank ┆             ┆      │
│ Bank         ┆            ┆       ┆       ┆             ┆             ┆      │
│ First        ┆ Manchester ┆ NH    ┆ 34264 ┆ Southern    ┆ 2001-02-02  ┆ 4647 │
│ Alliance     ┆            ┆       ┆       ┆ New         ┆             ┆      │
│ Bank & Trust ┆            ┆       ┆       ┆ Hampshire   ┆             ┆      │
│ Co…          ┆            ┆       ┆       ┆ Bank & …    ┆             ┆      │
│ National     ┆ Metropolis ┆ IL    ┆ 3815  ┆ Banterra    ┆ 2000-12-14  ┆ 4646 │
│ State Bank   ┆            ┆       ┆       ┆ Bank of     ┆             ┆      │
│ of Metropo…  ┆            ┆       ┆       ┆ Marion      ┆             ┆      │
│ Bank of      ┆ Honolulu   ┆ HI    ┆ 21029 ┆ Bank of the ┆ 2000-10-13  ┆ 4645 │
│ Honolulu     ┆            ┆       ┆       ┆ Orient      ┆             ┆      │
└──────────────┴────────────┴───────┴───────┴─────────────┴─────────────┴──────┘
shape: (5, 7)
┌──────────────┬────────────┬───────┬───────┬─────────────┬─────────────┬──────┐
│ bank_name    ┆ city       ┆ state ┆ cert  ┆ acquiring_i ┆ closing_dat ┆ fund │
│ ---          ┆ ---        ┆ ---   ┆ ---   ┆ nstitution  ┆ e           ┆ ---  │
│ str          ┆ str        ┆ str   ┆ i64   ┆ ---         ┆ ---         ┆ i64  │
│              ┆            ┆       ┆       ┆ str         ┆ date        ┆      │
╞══════════════╪════════════╪═══════╪═══════╪═════════════╪═════════════╪══════╡
│ Superior     ┆ Hinsdale   ┆ IL    ┆ 32646 ┆ Superior    ┆ 2001-07-27  ┆ 6004 │
│ Bank, FSB    ┆            ┆       ┆       ┆ Federal,    ┆             ┆      │
│              ┆            ┆       ┆       ┆ FSB         ┆             ┆      │
│ Malta        ┆ Malta      ┆ OH    ┆ 6629  ┆ North       ┆ 2001-05-03  ┆ 4648 │
│ National     ┆            ┆       ┆       ┆ Valley Bank ┆             ┆      │
│ Bank         ┆            ┆       ┆       ┆             ┆             ┆      │
│ First        ┆ Manchester ┆ NH    ┆ 34264 ┆ Southern    ┆ 2001-02-02  ┆ 4647 │
│ Alliance     ┆            ┆       ┆       ┆ New         ┆             ┆      │
│ Bank & Trust ┆            ┆       ┆       ┆ Hampshire   ┆             ┆      │
│ Co…          ┆            ┆       ┆       ┆ Bank & …    ┆             ┆      │
│ National     ┆ Metropolis ┆ IL    ┆ 3815  ┆ Banterra    ┆ 2000-12-14  ┆ 4646 │
│ State Bank   ┆            ┆       ┆       ┆ Bank of     ┆             ┆      │
│ of Metropo…  ┆            ┆       ┆       ┆ Marion      ┆             ┆      │
│ Bank of      ┆ Honolulu   ┆ HI    ┆ 21029 ┆ Bank of the ┆ 2000-10-13  ┆ 4645 │
│ Honolulu     ┆            ┆       ┆       ┆ Orient      ┆             ┆      │
└──────────────┴────────────┴───────┴───────┴─────────────┴─────────────┴──────┘

In [6]:
# Check for missing values
(
    banks
    .select(pl.all().is_null().sum())
)

shape: (1, 7)
┌───────────┬──────┬───────┬──────┬──────────────────────┬──────────────┬──────┐
│ bank_name ┆ city ┆ state ┆ cert ┆ acquiring_institutio ┆ closing_date ┆ fund │
│ ---       ┆ ---  ┆ ---   ┆ ---  ┆ n                    ┆ ---          ┆ ---  │
│ u32       ┆ u32  ┆ u32   ┆ u32  ┆ ---                  ┆ u32          ┆ u32  │
│           ┆      ┆       ┆      ┆ u32                  ┆              ┆      │
╞═══════════╪══════╪═══════╪══════╪══════════════════════╪══════════════╪══════╡
│ 0         ┆ 0    ┆ 0     ┆ 0    ┆ 0                    ┆ 0            ┆ 0    │
└───────────┴──────┴───────┴──────┴──────────────────────┴──────────────┴──────┘

In [7]:
(
    banks
    .select(pl.all().null_count())
)

shape: (1, 7)
┌───────────┬──────┬───────┬──────┬──────────────────────┬──────────────┬──────┐
│ bank_name ┆ city ┆ state ┆ cert ┆ acquiring_institutio ┆ closing_date ┆ fund │
│ ---       ┆ ---  ┆ ---   ┆ ---  ┆ n                    ┆ ---          ┆ ---  │
│ u32       ┆ u32  ┆ u32   ┆ u32  ┆ ---                  ┆ u32          ┆ u32  │
│           ┆      ┆       ┆      ┆ u32                  ┆              ┆      │
╞═══════════╪══════╪═══════╪══════╪══════════════════════╪══════════════╪══════╡
│ 0         ┆ 0    ┆ 0     ┆ 0    ┆ 0                    ┆ 0            ┆ 0    │
└───────────┴──────┴───────┴──────┴──────────────────────┴──────────────┴──────┘

In [86]:
# Looping through multiple Excel files in Polars
from glob import glob 
multi_excel_files = glob('../00-data/multiple_excel_files/*.xlsx')

census_multiple_files = (
    pl.concat(
        [
            pl.read_excel(file)
            .with_columns(
                state=pl.lit(file).str.split('/').list.get(-1).str.replace('.xlsx', '')
            )
            for file in multi_excel_files]
    )
    
)

# Inspect output
print(census_multiple_files.head())

shape: (5, 12)
┌─────────┬────────┬─────────┬─────────┬───┬───────┬─────────┬────────┬────────┐
│ Former  ┆ Region ┆ Region  ┆ Region  ┆ … ┆ Scale ┆ Units   ┆ 2008   ┆ state  │
│ Region  ┆ ---    ┆ Name    ┆ - Regio ┆   ┆ ---   ┆ ---     ┆ ---    ┆ ---    │
│ ---     ┆ str    ┆ ---     ┆ nId     ┆   ┆ str   ┆ str     ┆ i64    ┆ str    │
│ str     ┆        ┆ str     ┆ ---     ┆   ┆       ┆         ┆        ┆        │
│         ┆        ┆         ┆ str     ┆   ┆       ┆         ┆        ┆        │
╞═════════╪════════╪═════════╪═════════╪═══╪═══════╪═════════╪════════╪════════╡
│ Greater ┆ KN.A3  ┆ Jonglei ┆ SS-JG   ┆ … ┆ units ┆ Persons ┆ 135860 ┆ jongle │
│ Upper   ┆        ┆         ┆         ┆   ┆       ┆         ┆ 2      ┆ i      │
│ Nile    ┆        ┆         ┆         ┆   ┆       ┆         ┆        ┆        │
│ null    ┆ KN.A3  ┆ Jonglei ┆ SS-JG   ┆ … ┆ units ┆ Persons ┆ 207424 ┆ jongle │
│         ┆        ┆         ┆         ┆   ┆       ┆         ┆        ┆ i      │
│ null    ┆ KN.A3  ┆ Jonglei ┆ SS-JG   ┆ … ┆ units ┆ Persons ┆ 215121 ┆ jongle │
│         ┆        ┆         ┆         ┆   ┆       ┆         ┆        ┆ i      │
│ null    ┆ KN.A3  ┆ Jonglei ┆ SS-JG   ┆ … ┆ units ┆ Persons ┆ 179544 ┆ jongle │
│         ┆        ┆         ┆         ┆   ┆       ┆         ┆        ┆ i      │
│ null    ┆ KN.A3  ┆ Jonglei ┆ SS-JG   ┆ … ┆ units ┆ Persons ┆ 146141 ┆ jongle │
│         ┆        ┆         ┆         ┆   ┆       ┆         ┆        ┆ i      │
└─────────┴────────┴─────────┴─────────┴───┴───────┴─────────┴────────┴────────┘
shape: (5, 12)
┌─────────┬────────┬─────────┬─────────┬───┬───────┬─────────┬────────┬────────┐
│ Former  ┆ Region ┆ Region  ┆ Region  ┆ … ┆ Scale ┆ Units   ┆ 2008   ┆ state  │
│ Region  ┆ ---    ┆ Name    ┆ - Regio ┆   ┆ ---   ┆ ---     ┆ ---    ┆ ---    │
│ ---     ┆ str    ┆ ---     ┆ nId     ┆   ┆ str   ┆ str     ┆ i64    ┆ str    │
│ str     ┆        ┆ str     ┆ ---     ┆   ┆       ┆         ┆        ┆        │
│         ┆        ┆         ┆ str     ┆   ┆       ┆         ┆        ┆        │
╞═════════╪════════╪═════════╪═════════╪═══╪═══════╪═════════╪════════╪════════╡
│ Greater ┆ KN.A3  ┆ Jonglei ┆ SS-JG   ┆ … ┆ units ┆ Persons ┆ 135860 ┆ jongle │
│ Upper   ┆        ┆         ┆         ┆   ┆       ┆         ┆ 2      ┆ i      │
│ Nile    ┆        ┆         ┆         ┆   ┆       ┆         ┆        ┆        │
│ null    ┆ KN.A3  ┆ Jonglei ┆ SS-JG   ┆ … ┆ units ┆ Persons ┆ 207424 ┆ jongle │
│         ┆        ┆         ┆         ┆   ┆       ┆         ┆        ┆ i      │
│ null    ┆ KN.A3  ┆ Jonglei ┆ SS-JG   ┆ … ┆ units ┆ Persons ┆ 215121 ┆ jongle │
│         ┆        ┆         ┆         ┆   ┆       ┆         ┆        ┆ i      │
│ null    ┆ KN.A3  ┆ Jonglei ┆ SS-JG   ┆ … ┆ units ┆ Persons ┆ 179544 ┆ jongle │
│         ┆        ┆         ┆         ┆   ┆       ┆         ┆        ┆ i      │
│ null    ┆ KN.A3  ┆ Jonglei ┆ SS-JG   ┆ … ┆ units ┆ Persons ┆ 146141 ┆ jongle │
│         ┆        ┆         ┆         ┆   ┆       ┆         ┆        ┆ i      │
└─────────┴────────┴─────────┴─────────┴───┴───────┴─────────┴────────┴────────┘

In [4]:
# Importing multiple Excel sheets
url = '../00-data/multiple_excel_sheets.xlsx'

(  # combine DataFrames with the polars concat method
   pl.concat(
       # Loop through multiple Excel sheets using the list comprehension
       [   
           # Read data in with the polars read_excel
           pl.read_excel(
               # File path
               url, 
               # Specify columns of interest
               columns=['Former Region', 'Region Name', 'Variable Name', 'Age Name', '2008'],
               # Set sheet_id to i
               sheet_id=i
            ) 
           # Provide a list of sheet ids
           for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
       ]
   )
)

shape: (450, 5)
┌───────────────────┬───────────────────┬──────────────────┬──────────┬────────┐
│ Former Region     ┆ Region Name       ┆ Variable Name    ┆ Age Name ┆ 2008   │
│ ---               ┆ ---               ┆ ---              ┆ ---      ┆ ---    │
│ str               ┆ str               ┆ str              ┆ str      ┆ i64    │
╞═══════════════════╪═══════════════════╪══════════════════╪══════════╪════════╡
│ Greater Bahr el   ┆ Lakes             ┆ Population,      ┆ Total    ┆ 695730 │
│ Ghazal            ┆                   ┆ Total (Number)   ┆          ┆        │
│ null              ┆ Lakes             ┆ Population,      ┆ 0 to 4   ┆ 106232 │
│                   ┆                   ┆ Total (Number)   ┆          ┆        │
│ null              ┆ Lakes             ┆ Population,      ┆ 5 to 9   ┆ 109096 │
│                   ┆                   ┆ Total (Number)   ┆          ┆        │
│ null              ┆ Lakes             ┆ Population,      ┆ 10 to 14 ┆ 88658  │
│                   ┆                   ┆ Total (Number)   ┆          ┆        │
│ null              ┆ Lakes             ┆ Population,      ┆ 15 to 19 ┆ 71513  │
│                   ┆                   ┆ Total (Number)   ┆          ┆        │
│ …                 ┆ …                 ┆ …                ┆ …        ┆ …      │
│ null              ┆ Northern Bahr el  ┆ Population,      ┆ 45 to 49 ┆ 11781  │
│                   ┆ Ghazal            ┆ Female (Number)  ┆          ┆        │
│ null              ┆ Northern Bahr el  ┆ Population,      ┆ 50 to 54 ┆ 9482   │
│                   ┆ Ghazal            ┆ Female (Number)  ┆          ┆        │
│ null              ┆ Northern Bahr el  ┆ Population,      ┆ 55 to 59 ┆ 6273   │
│                   ┆ Ghazal            ┆ Female (Number)  ┆          ┆        │
│ null              ┆ Northern Bahr el  ┆ Population,      ┆ 60 to 64 ┆ 5853   │
│                   ┆ Ghazal            ┆ Female (Number)  ┆          ┆        │
│ null              ┆ Northern Bahr el  ┆ Population,      ┆ 65+      ┆ 12585  │
│                   ┆ Ghazal            ┆ Female (Number)  ┆          ┆        │
└───────────────────┴───────────────────┴──────────────────┴──────────┴────────┘

In [91]:
# importing multiple Excel files
census = (
    pl.concat(
        [
            pl.read_excel(
                file,
                columns=['Former Region', 'Region Name',
                         'Variable Name', 'Age Name', '2008'
                         ]
            )
            for file in multi_excel_files]
    )
    
)

# inspect output
print(census)

shape: (450, 5)
┌────────────────────┬─────────────┬──────────────────────┬──────────┬─────────┐
│ Former Region      ┆ Region Name ┆ Variable Name        ┆ Age Name ┆ 2008    │
│ ---                ┆ ---         ┆ ---                  ┆ ---      ┆ ---     │
│ str                ┆ str         ┆ str                  ┆ str      ┆ i64     │
╞════════════════════╪═════════════╪══════════════════════╪══════════╪═════════╡
│ Greater Upper Nile ┆ Jonglei     ┆ Population, Total    ┆ Total    ┆ 1358602 │
│                    ┆             ┆ (Number)             ┆          ┆         │
│ null               ┆ Jonglei     ┆ Population, Total    ┆ 0 to 4   ┆ 207424  │
│                    ┆             ┆ (Number)             ┆          ┆         │
│ null               ┆ Jonglei     ┆ Population, Total    ┆ 5 to 9   ┆ 215121  │
│                    ┆             ┆ (Number)             ┆          ┆         │
│ null               ┆ Jonglei     ┆ Population, Total    ┆ 10 to 14 ┆ 179544  │
│                    ┆             ┆ (Number)             ┆          ┆         │
│ null               ┆ Jonglei     ┆ Population, Total    ┆ 15 to 19 ┆ 146141  │
│                    ┆             ┆ (Number)             ┆          ┆         │
│ …                  ┆ …           ┆ …                    ┆ …        ┆ …       │
│ null               ┆ Unity       ┆ Population, Female   ┆ 45 to 49 ┆ 8115    │
│                    ┆             ┆ (Number)             ┆          ┆         │
│ null               ┆ Unity       ┆ Population, Female   ┆ 50 to 54 ┆ 6333    │
│                    ┆             ┆ (Number)             ┆          ┆         │
│ null               ┆ Unity       ┆ Population, Female   ┆ 55 to 59 ┆ 3580    │
│                    ┆             ┆ (Number)             ┆          ┆         │
│ null               ┆ Unity       ┆ Population, Female   ┆ 60 to 64 ┆ 3938    │
│                    ┆             ┆ (Number)             ┆          ┆         │
│ null               ┆ Unity       ┆ Population, Female   ┆ 65+      ┆ 7801    │
│                    ┆             ┆ (Number)             ┆          ┆         │
└────────────────────┴─────────────┴──────────────────────┴──────────┴─────────┘
shape: (450, 5)
┌────────────────────┬─────────────┬──────────────────────┬──────────┬─────────┐
│ Former Region      ┆ Region Name ┆ Variable Name        ┆ Age Name ┆ 2008    │
│ ---                ┆ ---         ┆ ---                  ┆ ---      ┆ ---     │
│ str                ┆ str         ┆ str                  ┆ str      ┆ i64     │
╞════════════════════╪═════════════╪══════════════════════╪══════════╪═════════╡
│ Greater Upper Nile ┆ Jonglei     ┆ Population, Total    ┆ Total    ┆ 1358602 │
│                    ┆             ┆ (Number)             ┆          ┆         │
│ null               ┆ Jonglei     ┆ Population, Total    ┆ 0 to 4   ┆ 207424  │
│                    ┆             ┆ (Number)             ┆          ┆         │
│ null               ┆ Jonglei     ┆ Population, Total    ┆ 5 to 9   ┆ 215121  │
│                    ┆             ┆ (Number)             ┆          ┆         │
│ null               ┆ Jonglei     ┆ Population, Total    ┆ 10 to 14 ┆ 179544  │
│                    ┆             ┆ (Number)             ┆          ┆         │
│ null               ┆ Jonglei     ┆ Population, Total    ┆ 15 to 19 ┆ 146141  │
│                    ┆             ┆ (Number)             ┆          ┆         │
│ …                  ┆ …           ┆ …                    ┆ …        ┆ …       │
│ null               ┆ Unity       ┆ Population, Female   ┆ 45 to 49 ┆ 8115    │
│                    ┆             ┆ (Number)             ┆          ┆         │
│ null               ┆ Unity       ┆ Population, Female   ┆ 50 to 54 ┆ 6333    │
│                    ┆             ┆ (Number)             ┆          ┆         │
│ null               ┆ Unity       ┆ Population, Female   ┆ 55 to 59 ┆ 3580    │
│                    ┆             ┆ (Number)             ┆          ┆         │
│ null               ┆ Unity       ┆ Population, Female   ┆ 60 to 64 ┆ 3938    │
│                    ┆             ┆ (Number)             ┆          ┆         │
│ null               ┆ Unity       ┆ Population, Female   ┆ 65+      ┆ 7801    │
│                    ┆             ┆ (Number)             ┆          ┆         │
└────────────────────┴─────────────┴──────────────────────┴──────────┴─────────┘

In [92]:
# missing for missing values
(
    census
    .select(pl.all().null_count())
)

shape: (1, 5)
┌───────────────┬─────────────┬───────────────┬──────────┬──────┐
│ Former Region ┆ Region Name ┆ Variable Name ┆ Age Name ┆ 2008 │
│ ---           ┆ ---         ┆ ---           ┆ ---      ┆ ---  │
│ u32           ┆ u32         ┆ u32           ┆ u32      ┆ u32  │
╞═══════════════╪═════════════╪═══════════════╪══════════╪══════╡
│ 440           ┆ 0           ┆ 0             ┆ 0        ┆ 0    │
└───────────────┴─────────────┴───────────────┴──────────┴──────┘

In [94]:
(
    census
    .select(pl.all().is_null().sum())
)

shape: (1, 5)
┌───────────────┬─────────────┬───────────────┬──────────┬──────┐
│ Former Region ┆ Region Name ┆ Variable Name ┆ Age Name ┆ 2008 │
│ ---           ┆ ---         ┆ ---           ┆ ---      ┆ ---  │
│ u32           ┆ u32         ┆ u32           ┆ u32      ┆ u32  │
╞═══════════════╪═════════════╪═══════════════╪══════════╪══════╡
│ 440           ┆ 0           ┆ 0             ┆ 0        ┆ 0    │
└───────────────┴─────────────┴───────────────┴──────────┴──────┘

In [100]:
# fill null values forward
census_cleaned = (
    census
    .rename(lambda col: col.lower().replace(' ', '_'))
    .rename({
        'region_name': 'state',
        'variable_name': 'gender',
        'age_name': 'age_category',
        '2008': 'population'
    })
    .with_columns(former_region=pl.col('former_region').fill_null(strategy='forward'))
)

In [101]:
(
    census_cleaned
    .glimpse()
)

Rows: 450
Columns: 5
$ former_region <str> 'Greater Upper Nile', 'Greater Upper Nile', 'Greater Upper Nile', 'Greater Upper Nile', 'Greater Upper Nile', 'Greater Upper Nile', 'Greater Upper Nile', 'Greater Upper Nile', 'Greater Upper Nile', 'Greater Upper Nile'
$ state         <str> 'Jonglei', 'Jonglei', 'Jonglei', 'Jonglei', 'Jonglei', 'Jonglei', 'Jonglei', 'Jonglei', 'Jonglei', 'Jonglei'
$ gender        <str> 'Population, Total (Number)', 'Population, Total (Number)', 'Population, Total (Number)', 'Population, Total (Number)', 'Population, Total (Number)', 'Population, Total (Number)', 'Population, Total (Number)', 'Population, Total (Number)', 'Population, Total (Number)', 'Population, Total (Number)'
$ age_category  <str> 'Total', '0 to 4', '5 to 9', '10 to 14', '15 to 19', '20 to 24', '25 to 29', '30 to 34', '35 to 39', '40 to 44'
$ population    <i64> 1358602, 207424, 215121, 179544, 146141, 121886, 109109, 90517, 74858, 58131

Rows: 450
Columns: 5
$ former_region <str> 'Greater Upper Nile', 'Greater Upper Nile', 'Greater Upper Nile', 'Greater Upper Nile', 'Greater Upper Nile', 'Greater Upper Nile', 'Greater Upper Nile', 'Greater Upper Nile', 'Greater Upper Nile', 'Greater Upper Nile'
$ state         <str> 'Jonglei', 'Jonglei', 'Jonglei', 'Jonglei', 'Jonglei', 'Jonglei', 'Jonglei', 'Jonglei', 'Jonglei', 'Jonglei'
$ gender        <str> 'Population, Total (Number)', 'Population, Total (Number)', 'Population, Total (Number)', 'Population, Total (Number)', 'Population, Total (Number)', 'Population, Total (Number)', 'Population, Total (Number)', 'Population, Total (Number)', 'Population, Total (Number)', 'Population, Total (Number)'
$ age_category  <str> 'Total', '0 to 4', '5 to 9', '10 to 14', '15 to 19', '20 to 24', '25 to 29', '30 to 34', '35 to 39', '40 to 44'
$ population    <i64> 1358602, 207424, 215121, 179544, 146141, 121886, 109109, 90517, 74858, 58131

In [103]:
(
    census_cleaned
    .get_column('former_region')
    .unique()
)

shape: (3,)
Series: 'former_region' [str]
[
	"Greater Equatoria"
	"Greater Bahr el Ghazal"
	"Greater Upper Nile"
]