In [2]:
# Load Libraries
import polars as pl
import polars.selectors as cs
import numpy as np
import sys 

# Display system and polars versions
print(f'My system version is {sys.version};\npolars version is {pl.__version__}')

My system version is 3.12.4 (main, Jul  1 2024, 00:48:18) [Clang 15.0.0 (clang-1500.3.9.4)];
polars version is 1.6.0
My system version is 3.12.4 (main, Jul  1 2024, 00:48:18) [Clang 15.0.0 (clang-1500.3.9.4)];
polars version is 1.6.0

In [14]:
# Create student grade dataset
np.random.seed(254)

student_grades_1 = {
    'name': ['Kuol', 'Deng', 'Ayen', 'Nyakuoth', 'Gatwich', 'Omot', 'Lokure'],
    'english': np.random.normal(loc=85, scale=10.5, size=7),
    'student_id': [1, 2, 3, 4, 5, 6, 7]
}

In [33]:

student_grades_2 = {
    'name': ['Kuol', 'Deng', 'Ayen', 'Nyakuoth', 'Gatwich', 'Omot', 'Lokure', 'Ojuolo'],
    'mathematics': np.random.normal(loc=80, scale=16.5, size=8),
    'statistics': np.random.normal(loc=88, scale=12, size=8),
    'data_science': np.random.normal(loc=75, scale=14.5, size=8),
    'student_id': [1, 2, 3, 4, 5, 6, 7, 8]
}

In [37]:
grades_1 = (
    pl.DataFrame(student_grades_1)
    .with_columns(english=pl.when(pl.col('english') > 100).then(100).otherwise(pl.col('english')).round(1))
)

print(grades_1)

shape: (7, 3)
┌──────────┬─────────┬────────────┐
│ name     ┆ english ┆ student_id │
│ ---      ┆ ---     ┆ ---        │
│ str      ┆ f64     ┆ i64        │
╞══════════╪═════════╪════════════╡
│ Kuol     ┆ 100.0   ┆ 1          │
│ Deng     ┆ 87.0    ┆ 2          │
│ Ayen     ┆ 84.2    ┆ 3          │
│ Nyakuoth ┆ 72.0    ┆ 4          │
│ Gatwich  ┆ 100.0   ┆ 5          │
│ Omot     ┆ 76.6    ┆ 6          │
│ Lokure   ┆ 77.1    ┆ 7          │
└──────────┴─────────┴────────────┘
shape: (7, 3)
┌──────────┬─────────┬────────────┐
│ name     ┆ english ┆ student_id │
│ ---      ┆ ---     ┆ ---        │
│ str      ┆ f64     ┆ i64        │
╞══════════╪═════════╪════════════╡
│ Kuol     ┆ 100.0   ┆ 1          │
│ Deng     ┆ 87.0    ┆ 2          │
│ Ayen     ┆ 84.2    ┆ 3          │
│ Nyakuoth ┆ 72.0    ┆ 4          │
│ Gatwich  ┆ 100.0   ┆ 5          │
│ Omot     ┆ 76.6    ┆ 6          │
│ Lokure   ┆ 77.1    ┆ 7          │
└──────────┴─────────┴────────────┘

In [36]:
grades2 = (
    pl.DataFrame(student_grades_2)
    .with_columns(
        mathematics=pl.when(pl.col('mathematics') > 100).then(100).otherwise(pl.col('mathematics')).round(1),
        statistics=pl.when(pl.col('statistics') > 100).then(100).otherwise(pl.col('statistics')).round(1),
        data_science=pl.when(pl.col('data_science') > 100).then(100).otherwise(pl.col('data_science')).round(1)
    )
)

print(grades2)

shape: (8, 5)
┌──────────┬─────────────┬────────────┬──────────────┬────────────┐
│ name     ┆ mathematics ┆ statistics ┆ data_science ┆ student_id │
│ ---      ┆ ---         ┆ ---        ┆ ---          ┆ ---        │
│ str      ┆ f64         ┆ f64        ┆ f64          ┆ i64        │
╞══════════╪═════════════╪════════════╪══════════════╪════════════╡
│ Kuol     ┆ 96.5        ┆ 100.0      ┆ 79.6         ┆ 1          │
│ Deng     ┆ 83.0        ┆ 65.8       ┆ 64.9         ┆ 2          │
│ Ayen     ┆ 71.9        ┆ 86.0       ┆ 68.4         ┆ 3          │
│ Nyakuoth ┆ 69.1        ┆ 100.0      ┆ 80.4         ┆ 4          │
│ Gatwich  ┆ 67.5        ┆ 78.2       ┆ 64.8         ┆ 5          │
│ Omot     ┆ 80.7        ┆ 79.2       ┆ 77.6         ┆ 6          │
│ Lokure   ┆ 97.6        ┆ 77.7       ┆ 54.5         ┆ 7          │
│ Ojuolo   ┆ 62.4        ┆ 100.0      ┆ 77.5         ┆ 8          │
└──────────┴─────────────┴────────────┴──────────────┴────────────┘
shape: (8, 5)
┌──────────┬─────────────┬────────────┬──────────────┬────────────┐
│ name     ┆ mathematics ┆ statistics ┆ data_science ┆ student_id │
│ ---      ┆ ---         ┆ ---        ┆ ---          ┆ ---        │
│ str      ┆ f64         ┆ f64        ┆ f64          ┆ i64        │
╞══════════╪═════════════╪════════════╪══════════════╪════════════╡
│ Kuol     ┆ 96.5        ┆ 100.0      ┆ 79.6         ┆ 1          │
│ Deng     ┆ 83.0        ┆ 65.8       ┆ 64.9         ┆ 2          │
│ Ayen     ┆ 71.9        ┆ 86.0       ┆ 68.4         ┆ 3          │
│ Nyakuoth ┆ 69.1        ┆ 100.0      ┆ 80.4         ┆ 4          │
│ Gatwich  ┆ 67.5        ┆ 78.2       ┆ 64.8         ┆ 5          │
│ Omot     ┆ 80.7        ┆ 79.2       ┆ 77.6         ┆ 6          │
│ Lokure   ┆ 97.6        ┆ 77.7       ┆ 54.5         ┆ 7          │
│ Ojuolo   ┆ 62.4        ┆ 100.0      ┆ 77.5         ┆ 8          │
└──────────┴─────────────┴────────────┴──────────────┴────────────┘

In [42]:
# Joining two datasets
(
    grades_1
    .join(grades2, on='name', how='left')
)

shape: (7, 7)
┌──────────┬─────────┬───────────┬───────────┬───────────┬──────────┬──────────┐
│ name     ┆ english ┆ student_i ┆ mathemati ┆ statistic ┆ data_sci ┆ student_ │
│ ---      ┆ ---     ┆ d         ┆ cs        ┆ s         ┆ ence     ┆ id_right │
│ str      ┆ f64     ┆ ---       ┆ ---       ┆ ---       ┆ ---      ┆ ---      │
│          ┆         ┆ i64       ┆ f64       ┆ f64       ┆ f64      ┆ i64      │
╞══════════╪═════════╪═══════════╪═══════════╪═══════════╪══════════╪══════════╡
│ Kuol     ┆ 100.0   ┆ 1         ┆ 96.5      ┆ 100.0     ┆ 79.6     ┆ 1        │
│ Deng     ┆ 87.0    ┆ 2         ┆ 83.0      ┆ 65.8      ┆ 64.9     ┆ 2        │
│ Ayen     ┆ 84.2    ┆ 3         ┆ 71.9      ┆ 86.0      ┆ 68.4     ┆ 3        │
│ Nyakuoth ┆ 72.0    ┆ 4         ┆ 69.1      ┆ 100.0     ┆ 80.4     ┆ 4        │
│ Gatwich  ┆ 100.0   ┆ 5         ┆ 67.5      ┆ 78.2      ┆ 64.8     ┆ 5        │
│ Omot     ┆ 76.6    ┆ 6         ┆ 80.7      ┆ 79.2      ┆ 77.6     ┆ 6        │
│ Lokure   ┆ 77.1    ┆ 7         ┆ 97.6      ┆ 77.7      ┆ 54.5     ┆ 7        │
└──────────┴─────────┴───────────┴───────────┴───────────┴──────────┴──────────┘

In [43]:
# Joining two datasets
(
    grades_1
    .join(grades2, on='name', how='right')
)

shape: (8, 7)
┌─────────┬───────────┬──────────┬───────────┬───────────┬──────────┬──────────┐
│ english ┆ student_i ┆ name     ┆ mathemati ┆ statistic ┆ data_sci ┆ student_ │
│ ---     ┆ d         ┆ ---      ┆ cs        ┆ s         ┆ ence     ┆ id_right │
│ f64     ┆ ---       ┆ str      ┆ ---       ┆ ---       ┆ ---      ┆ ---      │
│         ┆ i64       ┆          ┆ f64       ┆ f64       ┆ f64      ┆ i64      │
╞═════════╪═══════════╪══════════╪═══════════╪═══════════╪══════════╪══════════╡
│ 100.0   ┆ 1         ┆ Kuol     ┆ 96.5      ┆ 100.0     ┆ 79.6     ┆ 1        │
│ 87.0    ┆ 2         ┆ Deng     ┆ 83.0      ┆ 65.8      ┆ 64.9     ┆ 2        │
│ 84.2    ┆ 3         ┆ Ayen     ┆ 71.9      ┆ 86.0      ┆ 68.4     ┆ 3        │
│ 72.0    ┆ 4         ┆ Nyakuoth ┆ 69.1      ┆ 100.0     ┆ 80.4     ┆ 4        │
│ 100.0   ┆ 5         ┆ Gatwich  ┆ 67.5      ┆ 78.2      ┆ 64.8     ┆ 5        │
│ 76.6    ┆ 6         ┆ Omot     ┆ 80.7      ┆ 79.2      ┆ 77.6     ┆ 6        │
│ 77.1    ┆ 7         ┆ Lokure   ┆ 97.6      ┆ 77.7      ┆ 54.5     ┆ 7        │
│ null    ┆ null      ┆ Ojuolo   ┆ 62.4      ┆ 100.0     ┆ 77.5     ┆ 8        │
└─────────┴───────────┴──────────┴───────────┴───────────┴──────────┴──────────┘

In [45]:
# Joining two datasets
(
    grades_1
    .join(grades2, on='name', how='full', coalesce=True)
)

shape: (8, 7)
┌──────────┬─────────┬───────────┬───────────┬───────────┬──────────┬──────────┐
│ name     ┆ english ┆ student_i ┆ mathemati ┆ statistic ┆ data_sci ┆ student_ │
│ ---      ┆ ---     ┆ d         ┆ cs        ┆ s         ┆ ence     ┆ id_right │
│ str      ┆ f64     ┆ ---       ┆ ---       ┆ ---       ┆ ---      ┆ ---      │
│          ┆         ┆ i64       ┆ f64       ┆ f64       ┆ f64      ┆ i64      │
╞══════════╪═════════╪═══════════╪═══════════╪═══════════╪══════════╪══════════╡
│ Kuol     ┆ 100.0   ┆ 1         ┆ 96.5      ┆ 100.0     ┆ 79.6     ┆ 1        │
│ Deng     ┆ 87.0    ┆ 2         ┆ 83.0      ┆ 65.8      ┆ 64.9     ┆ 2        │
│ Ayen     ┆ 84.2    ┆ 3         ┆ 71.9      ┆ 86.0      ┆ 68.4     ┆ 3        │
│ Nyakuoth ┆ 72.0    ┆ 4         ┆ 69.1      ┆ 100.0     ┆ 80.4     ┆ 4        │
│ Gatwich  ┆ 100.0   ┆ 5         ┆ 67.5      ┆ 78.2      ┆ 64.8     ┆ 5        │
│ Omot     ┆ 76.6    ┆ 6         ┆ 80.7      ┆ 79.2      ┆ 77.6     ┆ 6        │
│ Lokure   ┆ 77.1    ┆ 7         ┆ 97.6      ┆ 77.7      ┆ 54.5     ┆ 7        │
│ Ojuolo   ┆ null    ┆ null      ┆ 62.4      ┆ 100.0     ┆ 77.5     ┆ 8        │
└──────────┴─────────┴───────────┴───────────┴───────────┴──────────┴──────────┘

In [54]:
# Joining two datasets
student_grades = (
    grades_1
    .join(grades2, on=['name', 'student_id'], how='left')
)

In [47]:
# Joining two datasets
(
    grades_1
    .join(grades2, on='name', how='inner')
)

shape: (7, 7)
┌──────────┬─────────┬───────────┬───────────┬───────────┬──────────┬──────────┐
│ name     ┆ english ┆ student_i ┆ mathemati ┆ statistic ┆ data_sci ┆ student_ │
│ ---      ┆ ---     ┆ d         ┆ cs        ┆ s         ┆ ence     ┆ id_right │
│ str      ┆ f64     ┆ ---       ┆ ---       ┆ ---       ┆ ---      ┆ ---      │
│          ┆         ┆ i64       ┆ f64       ┆ f64       ┆ f64      ┆ i64      │
╞══════════╪═════════╪═══════════╪═══════════╪═══════════╪══════════╪══════════╡
│ Kuol     ┆ 100.0   ┆ 1         ┆ 96.5      ┆ 100.0     ┆ 79.6     ┆ 1        │
│ Deng     ┆ 87.0    ┆ 2         ┆ 83.0      ┆ 65.8      ┆ 64.9     ┆ 2        │
│ Ayen     ┆ 84.2    ┆ 3         ┆ 71.9      ┆ 86.0      ┆ 68.4     ┆ 3        │
│ Nyakuoth ┆ 72.0    ┆ 4         ┆ 69.1      ┆ 100.0     ┆ 80.4     ┆ 4        │
│ Gatwich  ┆ 100.0   ┆ 5         ┆ 67.5      ┆ 78.2      ┆ 64.8     ┆ 5        │
│ Omot     ┆ 76.6    ┆ 6         ┆ 80.7      ┆ 79.2      ┆ 77.6     ┆ 6        │
│ Lokure   ┆ 77.1    ┆ 7         ┆ 97.6      ┆ 77.7      ┆ 54.5     ┆ 7        │
└──────────┴─────────┴───────────┴───────────┴───────────┴──────────┴──────────┘

In [52]:
# Joining two datasets
(
    grades_1
    .join(grades2, on=['name', 'student_id'], how='anti')
)

shape: (0, 3)
┌──────┬─────────┬────────────┐
│ name ┆ english ┆ student_id │
│ ---  ┆ ---     ┆ ---        │
│ str  ┆ f64     ┆ i64        │
╞══════╪═════════╪════════════╡
└──────┴─────────┴────────────┘

In [53]:
# Joining two datasets
(
    grades2
    .join(grades_1, on=['name', 'student_id'], how='anti')
)

shape: (1, 5)
┌────────┬─────────────┬────────────┬──────────────┬────────────┐
│ name   ┆ mathematics ┆ statistics ┆ data_science ┆ student_id │
│ ---    ┆ ---         ┆ ---        ┆ ---          ┆ ---        │
│ str    ┆ f64         ┆ f64        ┆ f64          ┆ i64        │
╞════════╪═════════════╪════════════╪══════════════╪════════════╡
│ Ojuolo ┆ 62.4        ┆ 100.0      ┆ 77.5         ┆ 8          │
└────────┴─────────────┴────────────┴──────────────┴────────────┘

In [65]:
(
    student_grades
    .select('student_id', pl.all().exclude('student_id'))
    .with_columns(
        avg_score=pl.mean_horizontal(cs.float()).round(1),
        min_score=pl.min_horizontal(cs.float()).round(1),
        max_score=pl.max_horizontal(cs.float()).round(1),
    )
    
)

shape: (7, 9)
┌─────────┬─────────┬─────────┬────────┬───┬────────┬────────┬────────┬────────┐
│ student ┆ name    ┆ english ┆ mathem ┆ … ┆ data_s ┆ avg_sc ┆ min_sc ┆ max_sc │
│ _id     ┆ ---     ┆ ---     ┆ atics  ┆   ┆ cience ┆ ore    ┆ ore    ┆ ore    │
│ ---     ┆ str     ┆ f64     ┆ ---    ┆   ┆ ---    ┆ ---    ┆ ---    ┆ ---    │
│ i64     ┆         ┆         ┆ f64    ┆   ┆ f64    ┆ f64    ┆ f64    ┆ f64    │
╞═════════╪═════════╪═════════╪════════╪═══╪════════╪════════╪════════╪════════╡
│ 1       ┆ Kuol    ┆ 100.0   ┆ 96.5   ┆ … ┆ 79.6   ┆ 94.0   ┆ 79.6   ┆ 100.0  │
│ 2       ┆ Deng    ┆ 87.0    ┆ 83.0   ┆ … ┆ 64.9   ┆ 75.2   ┆ 64.9   ┆ 87.0   │
│ 3       ┆ Ayen    ┆ 84.2    ┆ 71.9   ┆ … ┆ 68.4   ┆ 77.6   ┆ 68.4   ┆ 86.0   │
│ 4       ┆ Nyakuot ┆ 72.0    ┆ 69.1   ┆ … ┆ 80.4   ┆ 80.4   ┆ 69.1   ┆ 100.0  │
│         ┆ h       ┆         ┆        ┆   ┆        ┆        ┆        ┆        │
│ 5       ┆ Gatwich ┆ 100.0   ┆ 67.5   ┆ … ┆ 64.8   ┆ 77.6   ┆ 64.8   ┆ 100.0  │
│ 6       ┆ Omot    ┆ 76.6    ┆ 80.7   ┆ … ┆ 77.6   ┆ 78.5   ┆ 76.6   ┆ 80.7   │
│ 7       ┆ Lokure  ┆ 77.1    ┆ 97.6   ┆ … ┆ 54.5   ┆ 76.7   ┆ 54.5   ┆ 97.6   │
└─────────┴─────────┴─────────┴────────┴───┴────────┴────────┴────────┴────────┘

In [68]:
# Unpivot 
final_grades = (
    student_grades
    .unpivot(index=['student_id', 'name'], variable_name='subject', value_name='score')
)

print(final_grades)

shape: (28, 4)
┌────────────┬──────────┬──────────────┬───────┐
│ student_id ┆ name     ┆ subject      ┆ score │
│ ---        ┆ ---      ┆ ---          ┆ ---   │
│ i64        ┆ str      ┆ str          ┆ f64   │
╞════════════╪══════════╪══════════════╪═══════╡
│ 1          ┆ Kuol     ┆ english      ┆ 100.0 │
│ 2          ┆ Deng     ┆ english      ┆ 87.0  │
│ 3          ┆ Ayen     ┆ english      ┆ 84.2  │
│ 4          ┆ Nyakuoth ┆ english      ┆ 72.0  │
│ 5          ┆ Gatwich  ┆ english      ┆ 100.0 │
│ …          ┆ …        ┆ …            ┆ …     │
│ 3          ┆ Ayen     ┆ data_science ┆ 68.4  │
│ 4          ┆ Nyakuoth ┆ data_science ┆ 80.4  │
│ 5          ┆ Gatwich  ┆ data_science ┆ 64.8  │
│ 6          ┆ Omot     ┆ data_science ┆ 77.6  │
│ 7          ┆ Lokure   ┆ data_science ┆ 54.5  │
└────────────┴──────────┴──────────────┴───────┘
shape: (28, 4)
┌────────────┬──────────┬──────────────┬───────┐
│ student_id ┆ name     ┆ subject      ┆ score │
│ ---        ┆ ---      ┆ ---          ┆ ---   │
│ i64        ┆ str      ┆ str          ┆ f64   │
╞════════════╪══════════╪══════════════╪═══════╡
│ 1          ┆ Kuol     ┆ english      ┆ 100.0 │
│ 2          ┆ Deng     ┆ english      ┆ 87.0  │
│ 3          ┆ Ayen     ┆ english      ┆ 84.2  │
│ 4          ┆ Nyakuoth ┆ english      ┆ 72.0  │
│ 5          ┆ Gatwich  ┆ english      ┆ 100.0 │
│ …          ┆ …        ┆ …            ┆ …     │
│ 3          ┆ Ayen     ┆ data_science ┆ 68.4  │
│ 4          ┆ Nyakuoth ┆ data_science ┆ 80.4  │
│ 5          ┆ Gatwich  ┆ data_science ┆ 64.8  │
│ 6          ┆ Omot     ┆ data_science ┆ 77.6  │
│ 7          ┆ Lokure   ┆ data_science ┆ 54.5  │
└────────────┴──────────┴──────────────┴───────┘

In [70]:
# Compute the two best scores
(
    final_grades
    .group_by('student_id', 'name')
    .agg(
        pl.all().top_k_by('score', 2)
    )
    .explode(pl.all().exclude(['student_id', 'name']))
    
)

shape: (14, 4)
┌────────────┬──────────┬─────────────┬───────┐
│ student_id ┆ name     ┆ subject     ┆ score │
│ ---        ┆ ---      ┆ ---         ┆ ---   │
│ i64        ┆ str      ┆ str         ┆ f64   │
╞════════════╪══════════╪═════════════╪═══════╡
│ 1          ┆ Kuol     ┆ english     ┆ 100.0 │
│ 1          ┆ Kuol     ┆ statistics  ┆ 100.0 │
│ 3          ┆ Ayen     ┆ statistics  ┆ 86.0  │
│ 3          ┆ Ayen     ┆ english     ┆ 84.2  │
│ 4          ┆ Nyakuoth ┆ statistics  ┆ 100.0 │
│ …          ┆ …        ┆ …           ┆ …     │
│ 2          ┆ Deng     ┆ mathematics ┆ 83.0  │
│ 6          ┆ Omot     ┆ mathematics ┆ 80.7  │
│ 6          ┆ Omot     ┆ statistics  ┆ 79.2  │
│ 7          ┆ Lokure   ┆ mathematics ┆ 97.6  │
│ 7          ┆ Lokure   ┆ statistics  ┆ 77.7  │
└────────────┴──────────┴─────────────┴───────┘

In [71]:
# Compute the two best scores
(
    final_grades
    .group_by('student_id', 'name')
    .agg(
        pl.all().bottom_k_by('score', 2)
    )
    .explode(pl.all().exclude(['student_id', 'name']))
    
)

shape: (14, 4)
┌────────────┬──────────┬──────────────┬───────┐
│ student_id ┆ name     ┆ subject      ┆ score │
│ ---        ┆ ---      ┆ ---          ┆ ---   │
│ i64        ┆ str      ┆ str          ┆ f64   │
╞════════════╪══════════╪══════════════╪═══════╡
│ 6          ┆ Omot     ┆ english      ┆ 76.6  │
│ 6          ┆ Omot     ┆ data_science ┆ 77.6  │
│ 2          ┆ Deng     ┆ data_science ┆ 64.9  │
│ 2          ┆ Deng     ┆ statistics   ┆ 65.8  │
│ 7          ┆ Lokure   ┆ data_science ┆ 54.5  │
│ …          ┆ …        ┆ …            ┆ …     │
│ 1          ┆ Kuol     ┆ mathematics  ┆ 96.5  │
│ 3          ┆ Ayen     ┆ data_science ┆ 68.4  │
│ 3          ┆ Ayen     ┆ mathematics  ┆ 71.9  │
│ 4          ┆ Nyakuoth ┆ mathematics  ┆ 69.1  │
│ 4          ┆ Nyakuoth ┆ english      ┆ 72.0  │
└────────────┴──────────┴──────────────┴───────┘